<launch>

    <rosparam command="load" file="/home/ras19/catkin_ws/src/params.srv" />
    <node pkg="gp9_odometry" name="odometry" type="odometry"/>
    <node pkg="gp9_localization" name="particle_filter" type="particle_filter"/>
    <node pkg="transforms" name="tf_robot_laser" type="tf_robot_laser"/>
    <node pkg="transforms" name="tf_map_robot" type="tf_map_robot"/>
    <node pkg="transforms" name="tf_robot_camera" type="tf_robot_camera"/>
    <node pkg="transforms" name="tf_camera_object" type="tf_camera_object"/>
    <node pkg="transforms" name="robotPathPose" type="robotPathPose"/>
    <!-- <node pkg="ras_maze_map" name="ras_maze_map_node" type="ras_maze_map_node" args="_map_file:='/ras19/catkin_ws/src/ras_project/ras_maze/ras_maze_map/maps/lab_maze_2018.txt'"/> -->
    <node pkg="ras_maze_map" name="ras_maze_map_node" type="ras_maze_map_node" args="_map_file:='/home/ras19/catkin_ws/src/gp9_path_planning/maps/updated_maze.txt'"/>
    <node pkg="rviz" name="rviz"  type="rviz"/>

</launch>