<launch>

    <node pkg="phidgets" name="phidgets_left" type="motor" args="_serial:=482685 __name:=motor_left _name:=motor_left _frequency:=125"/>
    <node pkg="phidgets" name="phidgets_right" type="motor" args="_serial:=490601 __name:=motor_right _name:=motor_right _frequency:=125"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

</launch>